name: Java CI with Maven

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up JDK 25
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '25'
          distribution: 'microsoft'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
